/*Section Contenidos*/
#Contenidos{
    margin: 20px auto;
    width: fit-content;
}
    

    .populares{
        align-items: center;
    }

    .categorias__invitación{
        position: relative;
        
    }
