header{
    margin: 20px auto;
    width: fit-content;
}
/* Bloque 1*/
    .novedades__post{
    width: 603px;
    height: 314px;
    border-radius: 20px;
    object-fit: cover;
    }

   
/* Bloque 2*/
  
    .post__image{
        width: 189px;
        height: 145px;
        border-radius: 20px;
        object-fit: cover;
    }

 

    .contenido{
        padding-left: 10px;
    }
