nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 65px;
}

.nav__logo{
    margin-right: 10px;
}
.nav__logo--image{
    height: 45px;
    border-radius: 12px;
}

.nav__texto--marca{
    font-size: 18px;
}

.marca-principal{
    display: flex;
    align-items: center;
}